<div id="editProfile-container">

    <form method="POST">

        <div class="editProfile">
              <input type="hidden" name="_csrf" value="{{csrfToken}}">
              <div id="error">
                <p>{{error}}</p>
              </div>
            
            {{#data}}
          
            <div>
                <p>First Name</p>
                <input type="text" name="firstName" value="{{firstname}}" placeholder="First Name">
            </div>


            <div>
                <p>Last Name</p>
                <input type="text" name="lastName" value="{{lastname}}" placeholder="Last Name">
            </div>

            <div>
                <p>Email</p>
                <input type="text" name="email" value="{{email}}" placeholder="email">
            </div>

            <div>
                <p>Password</p>
                <input type="password" name="password" >
            </div>

            <div>
                <p>Age</p>
                <input type="text" value="{{age}}" name="age">
            </div>


            <div>
                <p>City</p>
                <input type="text" value="{{city}}" name="city">
            </div>

            <div>
                <p>Homepage</p>
                <input type="text" value="{{url}}" name="url">
            </div>

            
            <button>Update</button>

            {{/data}}
        </div>
    </form>

     <div id="deleteSignature-container">
        <form method="POST" action="/petition/deleteProfile">
            <button name="deleteSignature" id="deleteSignature">Delete Profile</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{!-- <script src="js/editUser.js"></script> --}}