<div id="signers-container">
    <p>Signers so far:</p>

    {{#if render}}
    
<table>
    {{#rows}}
    
        <tr>
            {{{showAnchorUser url fullname}}}
            <td>{{age}}</td>
            <td><a href="/signers/{{city}}">{{city}}</td><a />
        </tr>

   
    {{/rows}}
     </table>
    {{else}}
    {{error}}
    {{/if}}
</div>